        
        
        <footer class="footer py-4 py-md-5 mt-5 bg-light">
            <div class="container py-4 py-md-5 px-4 px-md-3">
                <div class="row">
                    <div class="col-lg-3 mb-3">
                        <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/" aria-label="Gear Compare">
                            <span class="fs-5">Gear Compare</span>
                        </a>
                        <ul class="list-unstyled small text-muted">
                            <li class="mb-2">Compare gear. Find the best price. All in one place.</li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 offset-lg-1 mb-3">
                        <h5>Links</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="/">Home</a></li>
                            <li class="mb-2"><a href="#">Docs</a></li>
                            <li class="mb-2"><a href="#">Examples</a></li>
                            <li class="mb-2"><a href="#">Icons</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 mb-3">
                        <h5>Guides</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#">Getting started</a></li>
                            <li class="mb-2"><a href="#">Starter template</a></li>
                            <li class="mb-2"><a href="#">Parcel</a></li>
                            <li class="mb-2"><a href="#">Vite</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 mb-3">
                        <h5>Projects</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#">Bootstrap 5</a></li>
                            <li class="mb-2"><a href="#">Bootstrap 4</a></li>
                            <li class="mb-2"><a href="#">Icons</a></li>
                            <li class="mb-2"><a href="#">RFS</a></li>
                            <li class="mb-2"><a href="#">npm starter</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2 mb-3">
                        <h5>Community</h5>
                        <ul class="list-unstyled">
                            <li class="mb-2"><a href="#">Issues</a></li>
                            <li class="mb-2"><a href="#">Discussions</a></li>
                            <li class="mb-2"><a href="#">Corporate sponsors</a></li>
                            <li class="mb-2"><a href="#">Open Collective</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mt-1 mb-3 mx-4 border-top"></div>
            <div class="container text-center pt-1 pt-md-2">
                <ul class="list-unstyled row row-cols-auto justify-content-center">
                    <li class="col">
                        <a href="#" aria-label="Gear Compare on Facebook">
                            <svg class="icon shape-facebook" width="24" height="24">
                                <use xlink:href="#shape-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="col">
                        <a href="#" aria-label="Gear Compare on Instagram">
                            <svg class="icon shape-instagram" width="24" height="24">
                                <use xlink:href="#shape-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="col">
                        <a href="#" aria-label="Gear Compare Discord Server">
                            <svg class="icon shape-discord" width="24" height="24">
                                <use xlink:href="#shape-discord"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="col">
                        <a href="#" aria-label="Gear Compare on Twitter">
                            <svg class="icon shape-twitter" width="24" height="24">
                                <use xlink:href="#shape-twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="col">
                        <a href="#" aria-label="Gear Compare on Twitch">
                            <svg class="icon shape-twitch" width="24" height="24">
                                <use xlink:href="#shape-twitch"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="col">
                        <a href="#" aria-label="Gear Compare on YouTube">
                            <svg class="icon shape-search" width="24" height="24">
                                <use xlink:href="#shape-youtube"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>

        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/appScripts.js"></script>
    </body>
</html>