<%- include('partials/head')%> 
<%- include('partials/navBar')%> 

<div class="container">
    <h1>The Home Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quis labore fuga quod, amet qui deleniti, accusamus enim impedit nobis officia temporibus veniam aliquam cupiditate, obcaecati ad error? Temporibus, alias.</p>
</div>

<%- include('partials/footer')%>